content { float:right; margin-right:230px; margin-top:55px;}
/*#leftside {float:left; margin-left:60px; margin-top:30px; }*/
table.notice { border-top:0.5px solid black; background-color:aliceblue; text-align:center;}
table.notice #head th{ padding-top:10px; padding-bottom:10px; background-color:white; font-size:15px; }
tr #link { text-align:left; }

content a:link{ text-decoration :none; color: cornflowerblue; }
content a:visited{ text-decoration :none; color: cornflowerblue; }
tr #link a:hover{ text-decoration:underline; color: royalblue;}
.notice tr td { padding-top:7px; padding-bottom:7px; padding-left:4px; padding-right:4px; /*border-top:0.5px solid; border-bottom:0.5px solid;*/ font-size:15px; }
.notice tr div { border:0.1px ridge; padding-top:3px; padding-bottom:3px; font-size:14px; background-color:lightblue;}
.notice #main { font-weight:bold; }

table.list #head{ margin-top:0px; padding-top:0px; }
table.list { text-align:center; border-bottom:0.5px solid black; }
.list tr td { padding-top:8px; padding-bottom:8px; padding-left:4px; padding-right:4px; font-size:15px; }