.up{ position:fixed; left:0; bottom:0px; width:100%; height:50px; line-height:50px; background-color:black; color:white; text-align:center; font-size: 15px; /*transition: all 0.5s;*/ }
header{ text-align:center; margin-bottom:30px;  margin-top:30px; }
header a:link{ text-decoration :none; color:black; }
header a:visited{ text-decoration :none; color:black; }
header h1{ position:absolute; left:120px; top:0px;}
header nav.side{ position:absolute; right:120px; top:0px; margin-top:12px; }
header nav.side li{ display: inline; padding-left:15px;}
header nav.side li a:hover{ font-weight:bold; }
header nav.menu li{ display:inline; padding-right:25px; padding-left:25px; font-size:19px;}
header nav.menu li a:hover{ color:lightskyblue; font-weight:bold; text-decoration:underline; }